{% extends 'admin/Admin_base.html' %}
{% block image %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sl no</th>
      <th scope="col">patientName</th>
      <th scope="col">age</th>
      <th scope="col">Gender</th>
      <th scope="col">phone </th>
      <th scope="col">Reason_for_seeking_counsiling</th>
      <th scope="col">Preferred_counsiling_approch</th>

    </tr>
  </thead>
  <tbody>
   {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.PatientName.Name}}</td>
      <td>{{i.Age}}</td>
      <td>{{i.Gender}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.Reason_for_seeking_counsiling}}</td>
      <td>{{i.Preferred_counsiling_approch}}</td>



    </tr>
   {% endfor %}
   </tbody>
</table>
     {% endblock %}